.nav{
    margin-top:20px ;
    height: 300px;
    width: 1900px;
    background: url("../../images/news/nav.jpg");
    background-size:cover ;
}
.main{
    width: 1200px;
    height: auto;
    position: relative;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow:  3px 0px 6px 2px #999,-3px 0px 6px 2px #999;
    padding-bottom: 20px;
}
.side{
    width: 100%;
    height: 50px;
    background-color: #32b16c;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    line-height: 50px;
}
.news{
    width: 70%;
    margin: 50px auto 200px;
}
.news-title{
    height: auto;
}
.title{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
    line-height: 32px;
}
.time{
    border-left: 3px solid #32b16c;
    padding-left: 8px;
    margin: 0px 0  30px;
    font-size: 14px;
    font-weight: lighter;
}
.text{
    font-size: 16px;
    line-height: 28px;
    color: #646464;
    font-weight: 500;
    margin-bottom: 25px;
}
.text:first-letter{
    padding-left: 35px;
}
.news-main img{
    margin-bottom: 25px;
    width: 850px;
    height: auto;
}
footer{
    margin-top: -50px;
    overflow: hidden;
    z-index: 5;
}
.coral{
    color: coral;
    font-size: 18px;
    font-weight: 600;
}
.news-list{
    height: 120px;
}
img.news-list-pic{
    border-radius: 10%;
    float: left;
}
.mid{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.news-list-title{
    font-size: 20px;
    color: #2e8be1;
    margin-left: 200px;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: bold;
    line-height: 25px;
}
.news-list-time{
    color: #2e8be1;
    margin-left: 200px;
    margin-top:30px;
    font-size: 16px;
    font-weight: bold;
}
.news-list a:hover .news-list-time{
     color: #32b16c;
 }
.news-list a:hover .news-list-title{
    color: #32b16c;
}
