@charset "UTF-8";
/*index页面*/
body{
    min-width: 1300px;
}
.full{
    width: 100%;
    height: 850px;
    background-size: cover;
    position: relative;
}
header{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding-top: 20px;
}
.header-left{
    float: left;
}
.header-left-logo{
    float: left;
    border-right: 2px solid #fff;
    padding-right: 30px;
}
.header-left-content{
    float: left;
    padding: 10px 20px 10px 30px;
}
.header-right{
    float: right;
    height: 80px;
}
.header-right ul{
    height: 80px;
    position: relative;
}
.header-right ul>li{
    float: left;
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}
.header-right ul>li>a{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    padding-bottom: 13px;
}
.header-right ul>li .nav2{
    position: absolute;
    width: 150px;
    height: auto;
    border-radius: 8px;
    background-color: #fff;
    z-index: 50;
    display: none;
    box-shadow: 0px 2px  3px 2px coral;
    transition: 1s;
}
.nav2>li{
    width: 134px;
}

.header-right ul>li>.nav2>li>a{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: black;
    transition:0.5s;
}
.nav2top {
    margin-top: 15px;
}.nav2bottom {
     margin-bottom: 15px;
 }
.nav2-decoration{
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: white;
    position:absolute;
    top: -7px;
    left:30px;
    box-shadow: -1px -1px  2px 1px coral;
}
/*.nav1 .current{*/
/*border-bottom: 2px solid red;*/
/*color: red;*/
/*}*/
.header-right ul>li:hover .nav2{
    display: block;
    animation: navdown 0.2s both;
}
.header-right>ul>li:hover{
    color: coral;
}
.nav2>li:hover{
    background-color: coral;
}
#nav21>li:hover a{
    color: #fff
}
#nav22>li:hover a{
    color: #fff
}
#nav23>li:hover a{
    color: #fff
}
#nav24>li:hover a{
    color: #fff
}
.wrap{
    width: 1200px;
    margin:30px auto;
}
.slide {
    width: 700px;
    height: 438px;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 10%;
    box-shadow: 0 0 12px 10px coral;
}
.slideUL{
    width: 800%;
    position: absolute;
    left: 0;
    top: 0;
}
.slide ul li{
    float: left;
    position: relative;
}
.slide li img{

}
.clickItems{
    width: 147px;
    height: 10px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translatex(-50%);
    display:flex;
    justify-content:center
}
.clickItem{
    float: left;
    margin: 0 5px;
    width: 7px;
    height: 7px;
    border: 2px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}
.clickItem:hover,.clickActive{
    background-color: rgba(255,255,255,0.4);
    border: 2px solid rgba(0,0,0,0.4);
}
.arrow{
    display: none;
}
.prev{
    width:60px;
    height:88.2px;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    left: 2%;
    background: url(../images/index/prev.png) no-repeat round;
    z-index: 99;
}
.next{
    width:60px;
    height:88.2px;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    right: 2%;
    background: url(../images/index/next.png) no-repeat round;
    z-index: 99;
}
.tutext{
    width: 700px;
    height: 43.8px;
    line-height: 43.8px;
    position: absolute;
    bottom: 0;
    left:0;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}
.tutext:hover{
    color: red;
    background-color: rgba(0,0,0,0.6);
}
.about{
    width: 450px;
    height: 428px;
    margin-left: 49px;
    margin-top: 5px;
    background-color: #f0f0f4;
    float: right;
    box-shadow: 0 0 15px 8px coral;
    border-radius: 2%
}
.aboutTop{
    height: 45px;
    margin-bottom: 5px;
}
.about .aboutTitle{
    float: left;
    width: 100px;
    height: 40px;
    margin: 8px 0  0 5px ;
    background: linear-gradient(to right,#ffffff,#fff2df,coral );
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px 3px #a1afc9;
}
.about .aboutTitle p{
    color: rgba(0,0,0,0.5);
    font-weight: bolder;
    font-size: 20px;
    line-height: 40px;
}
.about .aboutLink {
    width: 80px;
    height: 30px;
    margin: 12px 10px 0 0;
    background: linear-gradient(#ffffff,#F7F7F7,#DDDDDD);
    border-radius: 15%;
    float: right;
    box-shadow: 0 0 10px 3px #a1afc9;
    text-align: center;
    cursor: pointer;
}
.about .aboutLink a{
    color: rgba(0,0,0,0.8);
    line-height: 30px;
    display: block;
    width: 100%;
    height: 100%;
}
.about .aboutLink:hover{
    background: linear-gradient(#DDDDDD,#F7F7F7,#ffffff );
}
.about .aboutLink a:hover{
    color: red;
}
.aboutImg{
    text-align: center;
}
.aboutImg img{
    width: 400px;
    height: 200px;
    border-radius: 20%;
    box-shadow: 0 0 10px 3px coral;
}
.aboutText{
    width: 80%;
    margin: 12px auto;
    padding: 8px;
    box-shadow: 0 0 10px 3px coral;
    border-radius: 10%;
}
.product{
    width: 100%;
    height: 250px;
    background-color: #f0f0f4;
    float: left;
    margin-top: 50px;
    box-shadow: 0 0 15px 8px coral;
    border-radius: 15%;
}
.productUL{
    
}
.productLI{
    float: left;
    line-height: 250px;
}
.productLI img{
    width: 220px;
    height: 148px;
    margin: 0 10px;
    transition: all 0.6s;
}
.productLI img:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 8px 4px coral;
}
.aboutText p{
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    line-height:20px;
    font-weight: normal;
}
.core{
    width: 100%;
    min-width: 1280px;
    height: 600px;
    background:url("../images/index/core.jpg");
    background-size: cover;
}
.core-top{
    width: 100%;
    height: 200px;
    font-size: 65px;
    font-weight: 900;
    font-family: "Microsoft YaHei";
    color: #969696;
    text-align: center;
    line-height: 200px;
    text-shadow: -3px -3px 2px #fff, 3px 3px 2px #000;
}
.core-bottom{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}
.core-bottom1{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #9999FF;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom2{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #FF6666;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom3{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #00CC00;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom4{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #CCFFFF;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom5{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #FFFF99;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom span{
    position: absolute;
    left: 25%;
    top:30%;
    color: black;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.core-bottom span>img:hover{
    transform: rotateY(360deg);
    transition: all 2s;
}
.core-bottom span>img{
    margin-bottom: 20px;
}
.core-bottom5 span{
    position: absolute;
    left: 20%;
    top:30%;
    color: black;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    font-weight: 600;
    text-align: center;
}
footer{
    width: 100%;
    min-width: 1280px;
    height: 350px;
    background-color: #4B4B4B;
    overflow: hidden;
}
.footer-top{
    width: 1200px;
    height: 260px;
    border-bottom: 1px solid white;
    margin: 0 auto;
    position: relative;
}
.footer-top h2{
    color: white;
    font-size: 20px;
    position: absolute;
    top:20px;
    left: 20px;
    font-family: "Microsoft YaHei";
}
.link{
    position: absolute;
    top: 80px;
    left: 120px;
}
.link ul{
    float: left;
    margin-right:200px ;
}
.link ul li a{
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    font-family: "Microsoft YaHei";
    line-height: 40px;
}
.link ul li a:hover{
    color: white;
}
.footer-top h3{
    color: white;
    font-size: 20px;
    position: absolute;
    top:20px;
    left: 850px;
    font-family: "Microsoft YaHei";
}
.wx{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 950px;
    top:50px;
}
.footer-bottom{
    width: 1200px;
    height: 70px;
    margin: 10px auto;
}
.footer-bottom p{
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 8px;
    text-align: center;
}
@keyframes navdown {
    0%   {top:80px;}
    50%  {top:75px;}
    100%  {top:70px;}
}