@charset "UTF-8";
/*index页面*/
body{
    min-width: 1300px;
}
.full{
    width: 100%;
    height: 950px;
    background: url("../images/index/bg.jpg");
    background-size: cover;
    position: relative;
}
header{
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    padding-top: 20px;
}
.header-left{
    float: left;
}
.header-left-logo{
    float: left;
    border-right: 2px solid #fff;
    padding-right: 30px;
}
.header-left-content{
    float: left;
    padding: 10px 20px 10px 30px;
}
.header-right{
    float: right;
    height: 80px;
}
.header-right ul{
    height: 80px;
}
.header-right ul>li{
    float: left;
    position: relative;
    padding: 0 8px;
}
.header-right ul>li>a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
    padding-bottom: 13px;
}
.header-right ul>li .nav2{
    position: absolute;
    top: 70px;
    width: 150px;
    height: auto;
    border-radius: 8px;
    background-color: white;
    z-index: 50;
    display: none;
}
.nav2>li{
    width: 134px;
}

.header-right ul>li>.nav2>li>a{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: black;
    transition:1s
}
.nav2top {
    margin-top: 15px;
}.nav2bottom {
     margin-bottom: 15px;
 }
.nav2-decoration{
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: white;
    position:absolute;
    top: -7px;
    left:30px;
}
/*.nav1 .current{*/
    /*border-bottom: 2px solid red;*/
    /*color: red;*/
/*}*/
.header-right ul>li:hover .nav2{
    display: block;
}
.header-right>ul>li>a:hover{
    border-bottom: 2px solid coral;
    color: coral;
}
.nav2>li:hover{
    background-color: coral;
}
#nav21>li>a:hover{
     color: #fff
 }
#nav22>li>a:hover{
    color: #fff
}
#nav23>li>a:hover{
     color: #fff
 }
#nav24>li>a:hover{
      color: #fff
  }
.wrap{
    width: 1300px;
    margin:10px auto;
}
.slide {
    height:500px;
    position: relative;
}
.slide li{
    position: absolute;
    left:200px;
    top:0;
}
.slide li img{
    width:100%;
}
.arrow{
    display: none;
}
.prev,.next{
    width:100px;
    height:147px;
    position: absolute;
    top:70%;
    margin-top:-56px;
    background: url(../images/index/prev.png) no-repeat;
    z-index: 99;
}
.next{
    right:0;
    background-image: url(../images/index/next.png);
}
.tutext{
    width: 100%;
    height: 12%;
    position: absolute;
    bottom: 0;
    left:0;
    color: white;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    vertical-align: middle;
}
.core{
    width: 100%;
    min-width: 1280px;
    height: 600px;
    background:url("../images/index/core.jpg");
    background-size: cover;
}
.core-top{
    width: 100%;
    height: 200px;
    font-size: 65px;
    font-weight: 900;
    font-family: "Microsoft YaHei";
    color: #969696;
    text-align: center;
    line-height: 200px;
    text-shadow: -3px -3px 2px #fff, 3px 3px 2px #000;
}
.core-bottom{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}
.core-bottom1{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #9999FF;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom2{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #FF6666;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom3{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #00CC00;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom4{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #CCFFFF;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom5{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #FFFF99;
    opacity: 0.5;
    border-radius: 50%;
}
.core-bottom span{
    position: absolute;
    left: 25%;
    top:30%;
    color: black;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.core-bottom span>img:hover{
    transform: rotateY(360deg);
    transition: all 2s;
}
.core-bottom span>img{
    margin-bottom: 20px;
}
.core-bottom5 span{
    position: absolute;
    left: 20%;
    top:30%;
    color: black;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    font-weight: 600;
    text-align: center;
}
footer{
    width: 100%;
    min-width: 1280px;
    height: 350px;
    background-color: #4B4B4B;
    overflow: hidden;
}
.footer-top{
    width: 1200px;
    height: 260px;
    border-bottom: 1px solid white;
    margin: 0 auto;
    position: relative;
}
.footer-top h2{
    color: white;
    font-size: 20px;
    position: absolute;
    top:20px;
    left: 20px;
    font-family: "Microsoft YaHei";
}
.link{
    position: absolute;
    top: 80px;
    left: 120px;
}
.link ul{
    float: left;
    margin-right:200px ;
}
.link ul li a{
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    font-family: "Microsoft YaHei";
    line-height: 40px;
}
.link ul li a:hover{
    color: white;
}
.footer-top h3{
    color: white;
    font-size: 20px;
    position: absolute;
    top:20px;
    left: 850px;
    font-family: "Microsoft YaHei";
}
.wx{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 950px;
    top:50px;
}
.footer-bottom{
    width: 1200px;
    height: 70px;
    margin: 10px auto;
}
.footer-bottom p{
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 8px;
    text-align: center;
}