.nav{
    margin-top:20px ;
    height: 300px;
    width: 1900px;
    background: url("../../images/solution/sec-title.jpg");
    background-size:cover ;
}
.main{
    width: 1200px;
    height: 2100px;
    position: relative;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow:  0 3px 6px 2px #999;
}
.side{
    width: 100%;
    height: 50px;
    background-color: #ae5da1;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    line-height: 50px;
}
.main-top{
    text-align: center;
}
h3{
    font-size: 38px;
    font-weight: 900;
    color: #565656;
    margin-top: 80px;
    margin-bottom: 50px;
}

.headimg{
    width: 100%;
    height: 250px;
    margin-top: 30px;
}
.headtext{
    margin: 50px 20px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}
.headtext p{
    margin-bottom: 20px;
}
.headtext::first-letter{
    padding-left: 32px;
}
.mainimg{
    width: 1000px;
    height: 672px;
    margin: 30px auto;
}
.contentline{
    width: 90%;
    height: 40px;
    margin: 80px auto 20px;
    border-bottom: 3px solid #C0C0C0;
    clear: both;
}
h4{
    width: 100px;
    height: 40px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 500;
    font-family: "Microsoft YaHei";
    border-bottom: 3px solid #ae5da1;
}
span{
    margin-left: 120px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Microsoft YaHei";
}
.features{
    width: 90%;
    height: 300px;
    margin: 80px auto 0px;
}
.featurelist{
    width: 100%;
    height: 46px;
    background-color: #DDDDDD;
    margin-bottom: 10px;

}
.featurelist img{
    float: left;
    margin: 5px 0px 5px 5px;
}
.features p{
    float: left;
    margin-left: 20px;
    line-height: 46px;
    font-size: 18px;
}
.mainbottom{
    width: 90%;
    height: 300px;
    margin: 60px auto;
    position: relative;
    display: table;
    justify-content: space-around;
}
.icon{
     width: 130px;
     height: 120px;
     float: left;
     margin: 40px 110px;
    text-align: center;
 }
.icon img{
    padding: 8px;
}
.icon p{
    font-size: 15px; ;
}
.icon:hover{
    box-shadow: 0px 0px 1px 2px #C0C0C0;
    transform: rotateY(360deg);
    transition: all 1s;
}
footer{
    position: absolute;
    top: 2450px;
    overflow: hidden;
}